a{
    text-decoration: dotted;
}


@media screen and (max-width: 699px)  {
    ul li   {
        padding-left: 30px;
        border:solid 1px green;
    }
}


@media screen and (min-width: 700px) {
    ul li   {
        padding-left: 90px;
        border:solid 1px red;
    }
}