ul li {
    padding-left: 1px;
    border: solid 3px blue;
}

@media screen and (min-width: 500px) and (max-width: 799px) {
    ul li {
        padding-left: 90px;
        border: solid 3px red;
    }
}

@media screen and (min-width: 900px) {
    ul li {
        padding-left: 230px;
        border: solid 3px green;
    }
}